<mat-form-field class="example-full-width">
    <input matInput placeholder="Enter the Text"/>
</mat-form-field>

<form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Favorite food</mat-label>
      <input matInput placeholder="Ex. Pizza" value="Sushi">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Select an Option</mat-label>
        <mat-select>
            <mat-option value="">Option A</mat-option>
            <mat-option value="B">Option B</mat-option>
        </mat-select>
    </mat-form-field>
  </form>
  