<div class="wrapper">
    <!-- <app-nav></app-nav> -->
    <!-- <div app-nav></div> -->
    <div class = "app-nav"></div>
    <app-header setBackground></app-header>
    <app-notification></app-notification>    
    <app-products></app-products>
    <br>
    <app-customer-list #customer></app-customer-list>
    <p>You have selected {{customer?.selectedCustomer?.name}}</p>
    <br>
    <div appHover>
        <label>DOB: </label>
        <!-- Blur event occurs when we move away from the element -->
        <input type="date" #dobInput (blur)="calculateAge()">
    </div>
    <div>
        <label>Age: </label>
        <input type="text" #ageInput>
    </div>     
    <app-demo></app-demo>
    {{hello}}

    <br>
    <h2>ng-content Example</h2>
    <div class="container">
        <h2>New in Smart Phones</h2>
      
        <div class="more-products">
            <!-- <div class="card">
                <h4 class="title">New in iPhone</h4>
                <p class="summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <button class="btn btn-more">Show more in iPhone</button>
            </div>
            <div class="card">
                <h4 class="title">New in Samsung</h4>
                <p class="summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <button class="btn btn-more">Show more in Samsung</button>
            </div>
            <div class="card">
                <h4 class="title">New in OnePlus</h4>
                <p class="summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <button class="btn btn-more">Show more in OnePlus</button>
            </div>
            <div class="card">
                <h4 class="title">New in MI</h4>
                <p class="summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <button class="btn btn-more">Show more in MI</button>
            </div> -->
            <app-content-product>
                <h4 class="title" #iPhoneTitle setBackground>New in iPhone</h4>
                <button class="btn btn-more">Show more in iPhone</button>
            </app-content-product>
            <app-content-product>
                <h4 class="title" appHighlight appHover>New in Samsung</h4>
                <button class="btn btn-more">Show more in Samsung</button>
            </app-content-product>
            <app-content-product>
                <h4 class="title">New in OnePlus</h4>
                <button class="btn btn-more">Show more in OnePlus</button>
            </app-content-product>
            <app-content-product>
                <h4 class="title">New in Redmi</h4>
                <button class="btn btn-more">Show more in Redmi</button>
            </app-content-product>
        </div>
      </div>
      <br><br>

      <h4>Directives Examples(using HostBinding and HostListener decorators)</h4>
      <div class="container" setBackground appHover>
        <p>This is a demo HTML content to understand custom attribute directive in Angular.</p>
      </div>
      
      <div appHighlight appHover>
        <p>This is a demo HTML content to understand custom attribute directive in Angular.</p>
      </div>
      
      <!-- Custom Property Binding on Directives -->
      <div class="container" [appBetterhighlight] = "'red'" [defaultColor] = "'yellow'">
        <p>This is a demo HTML content to understand &#64;HostBinding in Angular.</p>
      </div>

      <!-- <div [ngClass] = "{class1: condition1, class2: condition2}"> -->
      <div [appClass] ="{container: true, 'change-font': true}"> 
        <p>This is a demo HTML content to understand how to create custom ngClass directive in Angular.</p>
      </div>

      <div class="container" appStyle [setStyle] ="{background: active ? 'Green' : 'pink', color: 'white'}"> 
        <p>This is a demo HTML content to understand how to create custom ngStyle directive in Angular.</p>
      </div>

      <br><br>
      <h4>Conditional Directive Example</h4>
      <div class="videocardcontainer">
        <div class="video-container" *ngFor="let video of videos">
          <div class="video-card" [appContainerhighlight] = "video.likes === mostlikedVideo.likes">
              <div>
                  <img [src]="video.thumbnail" style="width:220px; height:210px;">
              </div>
              <div><h4>{{video.title}}</h4></div>
              <div class="details">
                  <div class="video-data">
                    <i class="material-icons">thumb_up</i>{{video.likes}}
                  </div>
                  <div class="video-data">
                    <i class="material-icons">thumb_down</i>{{video.dislikes}}
                  </div>
                  <div class="video-data">
                    <i class="material-icons">reply_all</i>{{video.share}}
                  </div>
              </div>
          </div>
      </div> 
    </div> 
    <!-- How Structural Directives works -->
    <button class="btn btn-notice" (click)="DisplayNotice()" >Show notice</button>

    
    <!-- Here we have used the structural directive *ngIf, we use a local ref variable to define the template when condition is false-->
    <!-- this <div> is the view for the ngIf - angular injects this view as the first parameter (TemplateRef) to the constructor of the structural directive.
    The internally created <ng-template> is the ViewContainer of this div view. Th   -->
    <div class="info-container notice" *ngIf="display; else myVar">
    <h3>This is important notice!</h3>
    <p>This is a notice issued for all website users.</p>
    </div>
    <ng-template #myVar>
        <p>This is an example paragraph.</p>
    </ng-template>
    <!-- Below is how angular internally process the structural directive -->
    <!-- When we specify asterisk * for the structural directive, internally angular creates the template ng-template like below and 
        wraps the view within it. It use the ngIf like a normal Attribute Directive. -->
    <ng-template [ngIf]="display" [ngIfElse]="myVar1">
        <div class="info-container notice">
            <h3>This is important notice!</h3>
            <p>This is a notice issued for all website users.</p>
        </div>
    </ng-template>
    <ng-template #myVar1>
        <p>This is an example paragraph.</p>
    </ng-template>

    <button class="btn btn-notice" (click)="DisplayNotice()" >Show</button>
    <div class="info-container notice" *appIf="display">
        <h3>This is Custom Structural Directive</h3>
        <p>This is a notice issued for all website users.</p>
    </div>

    <!-- ngSwith Directive - ngSwitchCase and  ngSwitchDefault are the ones which manipulate(remove or add) DOM, so * is used only there.  -->
    <div class="container" [ngSwitch]="occupation">
        <p *ngSwitchCase="'teacher'">This paragraph will be displayed when occupation is teacher.</p>
        <p *ngSwitchCase="'designer'">This paragraph will be displayed when occupation is designer.</p>
        <p *ngSwitchCase="'lawyer'">This paragraph will be displayed when occupation is lawyer.</p>
        <p *ngSwitchDefault>This paragraph is default and will be displayed if no case matches switch expression</p>
    </div>


    <h4>Services and Dependency Injection</h4>
    <app-adduser></app-adduser>
    <div class="user-container">
        <div class="user-div" *ngFor="let user of users">
            <div class="user-name">{{user.name}}</div>
            <div class="user-status">{{user.status}}</div>
        </div>
    </div>
    
</div>