<div class="ekart--search--product">
    <!-- <input class="ekart-search-product-input" [value]="searchText" (input)="updateSeacrhText($event)"> -->

    <!-- Using two way data binding and event emitter passing the searched value -->
    <!-- <input class="ekart-search-product-input" [(ngModel)] = 'searchText' (input)="onSearchTextChanged()">
    <button [ngClass]="{'btn':true, 'btn-search' : searchText , 'btn-search-disabled' : !searchText }" >Search</button> -->
    
    <!-- Using Template Ref Variable passing the searched value -->
    <input class="ekart-search-product-input" #searchInput>
    <button class="btn btn-search" (click)="updateSeacrhTextFromButton()">Search</button>
    <!-- <button class="btn btn-search" (click)="updateSeacrhTextFromButton(searchInput)">Search</button> -->
</div>
<div class="ekart-search-result-for" >
    <p *ngIf="searchText != ''"><strong>Search result for : </strong>{{searchText}}</p>
</div>