<section>
    <h3>Here are some key points</h3>
    <div appHighlight>
        <ul>
            <li><b>No NgModules:</b> standalone comps don't need to be declared in module class</li>
            <li><b>No NgModules:</b> standalone comps don't need to be declared in module class</li>
            <li><b>No NgModules:</b> standalone comps don't need to be declared in module class</li>
        </ul>
    </div>
    <p>
        Overall, a standalone components are a powerful feature.
    </p>
</section>
<button (click)="OnClick()">{{action}}</button>